@import "tailwindcss";

@theme {
  --color-ot-background: #100f14;
  --color-ot-orange: #ff3b2f;
  --color-ot-dark-blue: #292548;
  --color-ot-light-blue: #3a3563;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  font-family: "Din Display", sans-serif;
  background-color: var(--color-ot-background);
}